.Toolbar{
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  background-color: #703B09;
  padding: 0 20px;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  justify-content: space-between;
  display: flex;
}

.Toolbar nav{
  height: 100%;
}